# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
android/.gradle/
android/app/build/
ios/build/
ios/Pods/

# Env files
.env

# OS
.DS_Store
Thumbs.db

# Firebase
firebase-key.json
Oldserverfile.js
